.post-form-wrapper {
  width: 100vw;
  height: calc(100vh - 53px);
  background-color: #cdebc6;
  color: #646166;
  padding: 30px 50px 0;

  h1 {
    width: 600px;
    font-size: 26px;
    font-weight: bold;
    margin: 0 auto 0;
  }

  .post-input-field {
    width: 600px;
    margin: 0 auto 0;

    .post-errors {
      color: red;
    }

    .post-form-field {
      .Post-form {
        margin-top: 20px;

        &__label {
          font-size: 16px;
        }

        &__input {
          @include input_field(600px);
        }

        &__area {
          @include input_field(600px, 300px);
        }
      }
    }

    // ボタン
    .Post-form-submit {
      margin-top: 30px;
      padding-left: 180px;

      &__btn {
        @include submit_button(230px, #fff, #71d19e);
        border-bottom: solid 4px #627295;
      }
    }
  }
}