.Notification {
  .notice {
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: #ffaf38;
  }

  .alert {
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: red;
  }
}