.post-show-wrapper {
  width: 100vw;
  height: calc(100% - 55px);
  background-color: #fffee0;
  padding: 50px 0 30px;

  .post-show-holder {
    width: 700px;
    margin: 0 auto 0;

    .Post-item {
      color: #424b54;
      background-color: #e0ffd9;
      padding: 30px;
      margin-bottom: 20px;
      border-radius: 20px;
      border-bottom: solid 4px #bfbfbf;
      position: relative;

      .post-btn-list {
        width: 110px;
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 20px;
        right: 20px;
        
        .Post-btn {
          @include link_button(50px, 30px, #f5f111, 5px, 14px);
        }
      }

      .Post-prof {
        display: flex;

        &__name {
          font-size: 14px;
          font-weight: bold;
          margin-right: 5px;

          a {
            color: #00b05e;
            text-decoration :none;
          }
        }

        &__time {
          color: #9b9b9b;
          font-size: 12px;
        }
      }


      &__title {
        font-size: 18px;
        font-weight: bold;
        border-bottom: 1px solid #9b9b9b;
        margin-bottom: 5px;

        a {
          color: #424b54;
          text-decoration: none;
        }
      }

      .Post-empathy {
        display: flex;
        font-size: 13px;
        font-weight: bold;
        margin-top: 20px;

        &__link {
          text-decoration: none;

          &--red {
            color: #ff7a8f;
          }

          &--gray {
            color: #9b9b9b;
          }
        }

        &__icon {
          vertical-align: center;
          margin: 3px 5px 0;
        }
      }
    }
  }
}