= render "header"
.top-wrapper
  .Post-btn
    = link_to "#", class: "Post-btn__link" do
      .Post-btn__items
        %p.Post-btn__items--text
          投稿する
        = icon('fas', 'plus', class: 'Post-btn__items--icon')

  .hero-wrapper
    .Hero
      %p.Hero__message.Hero__message--large
        もう1人で悩まないで
      %p.Hero__message
        今の悩みを共有しましょう
      %p.Hero__message
        意外と簡単に解決するかもしれません
  
  .main-wrapper
    .Post-index-btn
      = link_to "#", class: "Post-index-btn__link" do
        .Post-index-btn__items
          %p.Post-index-btn__items--text
            投 稿 一 覧 へ

    .new-post-wrapper
      %h2
        最 新 投 稿
      .new-post-list
        .New-post
          .New-post__prof
            .New-post__name
              太郎
            .New-post__time
              2020/08/20 10:10
          .New-post__title
            体重が減らない！
          .New-post__text
            体重が減りません。ダイエットしているのですがなかなか効果が出ません。同じ悩みを持っている人はいませんか？
        .New-post
          .New-post__prof
            .New-post__name
              次郎
            .New-post__time
              2020/08/20 10:10
          .New-post__title
            早起きができない
          .New-post__text
            あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ